<header>
  <nav>
    <ul>
      <li><a href="/">Gifts/Wishlist (<%=Gift.all.length%>)</a></li>
      <li><a href="/logout">Logout
        (<%= session %>)
      </a></li>
    </ul>
  </nav>
</header>

<!-- session[:user][:email] -->