<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">

	<title >Secret Santa!</title>
</head>
<body>

<h1><a href="/">Secret Santa</a></h1>

<%= yield %>

</body>
</html>